
.banner{
  position: relative;
  margin-top: 0vh;
  width: 100%;
  height: auto;
  padding: 1rem;
  background: linear-gradient(120deg, blue, red);
  animation: gradientmove 5s infinite;
  animation-timing-function: ease-in-out;
}
.banner-content{
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #FFF;
}
@keyframes gradientmove {
  0%{
    background: linear-gradient(120deg, blue, red);
  }
  25%{
    background: linear-gradient(210deg, blue, red);
  }
  50%{
    background: linear-gradient(300deg, blue, red);
  }
  75%{
    background: linear-gradient(30deg, blue, red);
  }
}


.hero-container{
  width: 100%;
  height: 120vh;
  background: rgb(30,30,33);
  background: linear-gradient(141deg, rgba(30,30,33,1) 0%, rgba(44,52,55,1) 70%);
  clip-path: polygon(0% 0%, 0% 73%, 0% 73%, 72% 85%, 100% 66%, 100% 66%, 100% 0);
  overflow: hidden;
}
.hero-left{
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-title{
  position: relative;
  margin-top: 20%;
  font-size: 3rem;
  color: #FFF;
  font-weight: 500;
}
.hero-desc{
  position: relative;
  margin: 2rem 0;
  font-family: 'Roboto', sans-serif;
  color: azure;
  font-size: 1.2rem;
  font-weight: 400;
}
.btn-div{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.popup-btn-div{
   position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hero-btn{
  position: relative;
  padding: .75rem 1.5rem;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  font-size: 1rem;
}
.quote{
  background-color: aqua;
  color: #000;
  border: 4px solid aqua;
  transition: all .3s ease-in-out;
}
.quote:hover{
  background: none;
  color: aqua;
}
.portfolio{
  margin-left: 2rem;
  background: none;
  color: aqua;
  border: 4px solid aqua;
}

.hero-right{
  position: relative;
  height: 100%;
}
.heroimg{
  position: absolute;
  top: -10rem;
  width: 900px;
  height: 900px;
  object-fit: cover;
  object-position: right;
  border-radius: 50%;
}




.services-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



.pricing-nav{
  position: relative;
  margin: 1rem auto 2rem;
  width: 40%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: blue;
  border-radius: 15px;
}
.pricing-btn{
  background: none;
  color: #fff;
  border: none;
  border-radius: inherit;
  padding: 5px 7.5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .3s ease;
}
.pricing-btn:hover{
  background: #fff;
  color: blue;
}

.pricing-card{
  position: relative;
  width: 300px;
  height: auto;
  padding-bottom: 1rem;
  margin: 1rem;
  background: azure;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1), -2px -2px 10px rgb(0, 0, 0, 0.1);
  transition: all .3s ease;
}
.pricing-card:hover{
  transform: translateY(-8px);
  box-shadow: 2px 2px 20px rgba(0,0,0,0.15), -2px -2px 20px rgba(0,0,0,0.15);
}
.pricing-card--img{
  width: inherit;
  height: 220px;
  object-fit: cover;
  object-position: top;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.pricing-card--title{
  margin-top: 1rem;
}
.card-content{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
.card-text{
  font-size: .9rem;
  color: darkslategray;
}
.contact-wa{
  position: relative;
  width: 100%;
  margin-top: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  border: 4px solid #25D366;
  background: #25D366;
  color: #FFFFFF;
  transition: all .3s ease;
}
.contact-wa:hover{
  border-color: #099c3f;
  background-color: #099c3f;
}


.google-link{
  margin: 1rem 0;
  text-decoration: none;
  color: indigo;
  text-align: center;
}

.feedback-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.feedback-card{
  width: 300px;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  background-color: blanchedalmond;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.feedback-msg{
  font-size: .8rem;
}


.clients-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.clients-wrapper a{
  position: relative;
  margin: 1rem;
  max-width: 100px;
}
.clients-wrapper a img{
  max-width: 150px;
  height: auto;
}
.kiaraimg{
  position: relative;
  width: 75px;
  height: auto;
}


#affiliate-offer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 250, 0.6);
  backdrop-filter: blur(5px);
  display: none;
  place-content: center;
  z-index: 999;
}
.lightbox{
  position: relative;
  max-width: 80vw;
  height: auto;
  background-color: #FFF;
  border-radius: 5px;
}
#lightboxImage{
  position: relative;
  max-width: inherit;
  height: auto;
  object-fit: cover;
}
.lightbox-content{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#lightboxCode{
  margin: 1rem 0 2px;
  padding: .35rem .5rem;
  background-color: blanchedalmond;
  border-radius: 2.5px;
  border: 2px dashed rgb(250, 200, 125);
  cursor: pointer;
  user-select: all;
}
#copySuccess{
  margin-bottom: 2rem;
}
.btn-div{
  margin-top: 5px;
}
#close-btn{
  position: absolute;
  top: 1%;
  right: 1%;
  width: 30px;
  height: 30px;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #FFF;
  display: grid;
  place-content: center;
  cursor: pointer;
}


.about-area{
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about--main-heading{
  font-size: 4rem;
  text-align: center;
}
#dezynation{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sangam-msg{
  max-width: 50%;
  text-align: left;
  color: #222;
}
#sangam img, #dezynation img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}


.conditions-box{
  width: 90vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}




.affiliates{
  position: relative;
  width: 100%;
  height: auto;
  margin: 10vh 0 25vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.affiliates h3{
  font-size: .8rem;
  color: darkslategray;
  text-align: center;
}
.partners{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hostinger, .hostgator{
  position: relative;
  max-width: 225px;
  height: auto;
  cursor: pointer;
}


@media (max-width: 768px) {
  .hero-container{
    height: 135vh;
    margin-bottom: 10%;
    flex-direction: column;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 90%, 0% 85%);
  }
  .hero-title{
    margin-top: 2rem;
    font-size: 2rem;
  }
  .hero-desc{
    font-size: 1rem;
  }
  .btn-div{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-btn{
    margin: 1rem auto;
    width: 100%;
  }
  .heroimg{
    top: unset;
    left: unset;
    right: unset;
    margin: 2rem auto;
    width: 400px;
    height: 400px;

  }


  .banner-content h1{
    font-size: 1.25rem;
  }
  .banner-content h3{
    font-size: .8rem;
  }

  .content{
    width: 80%;
  }
  .content p{
    max-width: 100%;
  }

  #form-area{
    width: 75%;
  }

  .services-wrapper{
    padding: 1rem;
  }

  .clients-wrapper{
    justify-content: center;
  }
  .clients-wrapper a img{
    width: 100px;
  }
  .kiaraimg{
    width: 80px !important;
  }

  .partners{
    flex-direction: column;
  }
  .partners img{
    margin: 1rem 0;
  }

  
  .pricing-nav{
    width: 100%;
  }


  .about--main-heading{
    font-size: 2rem;
  }
  #sangam, #dezynation{
    flex-direction: column;
  }
  .sangam-msg{
    max-width: 80%;
  }
}
