@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-area{
  position: relative;
  top: 12vh;
  width: 100%;
  height: auto;
}

.heading{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading h1{
  font-size: 3rem;
  text-align: center;
}
.color-bar{
  width: 10%;
  height: 1rem;
  margin: 0 auto;
  align-self: center;
  background: yellow;
}
.subheading{
  text-align: center;
  color: darkslategray;
}
.hidden-iframe{
  position: relative;
  width: 100%;
  height: 0;
  display: none;
}
#blue-txt{
  color: blue;
}
#orange-txt{
  color: orange;
}
#green-txt{
  color: green;
}
a{
  width: 100%;
  height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.scrollable-wrapper{
  position: relative;
  width: 100%;
  height: auto ;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scrollable-wrapper::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}




/* Navbar styling starts here */
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: #222;
  color: #fff;
}

nav{
  position: relative;
  width: 100%;
  height: inherit;
  padding: 5px 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
  position: relative;
  width: 10%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.logo-img{
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo-title{
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
}

.menu{
  position: relative;
  width: 40%;
  margin-left: 10%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-item{
  padding: 5px;
  color: #fff;
  transition: all .3s ease;
}
.menu-item:hover{
  background: orange;
}

.btn-group{
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cta{
  width: 10%;
  height: 70%;
  background: none;
  border: 2px solid yellow;
  color: yellow !important;
  transition: all .3s ease;
}
.cta:hover{
  background: yellow;
  color: #000 !important;
  cursor: pointer;
}
.cta a, .pay a{
  color: inherit;
}


@media (max-width: 768px) {
  .heading h1{
    font-size: 1.75rem;
  }
  .color-bar{
    width: 6%;
    height: .4rem;
  }

  .logo, .logo > *{
    transform: scale(0.9);
  }
  .logo-title{
    display: none;
  }

  .menu{
    display: none;
  }
  .cta{
    width: 40%;
  }
}

/* Navbar ends here */


.banner{
  position: relative;
  margin-top: 10vh;
  width: 100%;
  height: auto;
  padding: 1rem;
  background: linear-gradient(120deg, blue, red);
  animation: gradientmove 5s infinite;
  animation-timing-function: ease-in-out;
}
.banner-content{
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #FFF;
}
@keyframes gradientmove {
  0%{
    background: linear-gradient(120deg, blue, red);
  }
  25%{
    background: linear-gradient(210deg, blue, red);
  }
  50%{
    background: linear-gradient(300deg, blue, red);
  }
  75%{
    background: linear-gradient(30deg, blue, red);
  }
}



.hero{
  position: relative;
  width: 100%;
  height: 75vh;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content{
  position: relative;
  width: 60%;
  height: 80%;
  padding: 1rem;
  color: #000;
}
.content .online-text{
  color: blue;
}
.content p{
  max-width: 60%;
  color: darkslategray;
}
.content .enquiry-link{
  padding: 5px;
  color: orangered;
  transition: color .2s ease;
}
.content .enquiry-link:hover{
  background: yellow;
  color: #000;
}


#form-area{
  width: 30%;
  height: 90%;
  padding: 1rem;
  background: yellow;
}
.contact-form{
  display: flex;
  flex-direction: column;
}
.contact-form h2{
  margin-bottom: 1rem;
}
.contact-form input, form textarea{
  margin-bottom: 1rem;
  padding: 1px 2px;
  font-size: 1rem;
  color: #000;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
}
.contact-form input{
  max-width: 75%;
}
.contact-form textarea{
  width: 100% !important;
  height: 10rem !important;
}
.contact-form button{
  height: 2rem;
  border: none;
  background: #000;
  color: yellow;
  cursor: pointer;
}
.contact-form button:hover{
  background: #222;
}



.services{
  position: relative;
  width: 100%;
  height: auto;
  margin: 5% 0;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}
.services-img{
  width: 150px;
  height: 150px;
  object-fit: cover !important;
}
.web-services-content{
  max-width: 80%;
  margin-left: 5%;
}
.other-services-content{
  max-width: 80%;
  color: #fff;
}
.web, .others{
  position: relative;
  width: 47.5%;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px #888;
}
.web{
  background: linear-gradient(120deg, #d9d9fd, #608bff);
}
.others{
  background: linear-gradient(120deg, #444, orange);
}
.wrapper-links{
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.wrapper-links a{
  color: navy;
}
.o-links a{
  color: #fff;
}


.pricing-nav{
  position: relative;
  margin: 1rem auto 2rem;
  width: 40%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: blue;
  border-radius: 15px;
}
.pricing-btn{
  background: none;
  color: #fff;
  border: none;
  border-radius: inherit;
  padding: 5px 7.5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .3s ease;
}
.pricing-btn:hover{
  background: #fff;
  color: blue;
}

.pricing-card{
  position: relative;
  width: 275px;
  height: 425px;
  margin: 1rem;
  background: azure;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(175, 185, 200), -2px -2px 5px rgb(175, 185, 200);
}
.pricing-card--img{
  width: inherit;
  height: 50%;
  object-fit: cover;
  object-position: top;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.card-content{
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
}
.card-text{
  font-size: .8rem;
  color: darkslategray;
}


.google-link{
  margin: 1rem 0;
  text-decoration: none;
  color: indigo;
  text-align: center;
}

.feedback-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.feedback-card{
  width: 300px;
  height: auto;
  margin-right: 1rem;
  padding: 1rem;
  background-color: blanchedalmond;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.feedback-msg{
  font-size: .8rem;
}


.clients-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.clients-wrapper a{
  position: relative;
  max-width: 150px;
}
.clients-wrapper a img{
  margin: 1rem;
  max-width: 150px;
  height: auto;
}
.kiaraimg{
  position: relative;
  width: 75px;
  height: auto;
}
@media (max-width: 768px) {
  .clients-wrapper a img{
    max-width: 80px;
  }
}


#affiliate-offer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 250, 0.6);
  backdrop-filter: blur(5px);
  display: none;
  place-content: center;
  z-index: 999;
}
.lightbox{
  position: relative;
  max-width: 80vw;
  height: auto;
  background-color: #FFF;
  border-radius: 5px;
}
#lightboxImage{
  position: relative;
  max-width: inherit;
  height: auto;
  object-fit: cover;
}
.lightbox-content{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#lightboxCode{
  margin: 1rem 0 2px;
  padding: .35rem .5rem;
  background-color: blanchedalmond;
  border-radius: 2.5px;
  border: 2px dashed rgb(250, 200, 125);
  cursor: pointer;
  user-select: all;
}
#copySuccess{
  margin-bottom: 2rem;
}
.btn-div{
  margin-top: 5px;
}
#close-btn{
  position: absolute;
  top: 1%;
  right: 1%;
  width: 30px;
  height: 30px;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #FFF;
  display: grid;
  place-content: center;
  cursor: pointer;
}


.about-area{
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about--main-heading{
  font-size: 4rem;
  text-align: center;
}
#dezynation{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sangam-msg{
  max-width: 50%;
  text-align: left;
  color: #222;
}
#sangam img, #dezynation img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}


.conditions-box{
  width: 90vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.portfolio-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portfolio-item{
  width: 250px;
  height: auto;
  margin: 2rem;
}
.portfolio-item--img{
  width: 250px;
  height: 200px;
  object-position: top;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 15px;
  transition: all .3s ease;
}
.logo-imgs{
  object-position: center !important;
  object-fit: contain !important;
  border: none !important;
}
.portfolio-item--img:hover{
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.1);
}
.portfolio-item--details{
  margin-top: .5rem;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(198, 198, 198), -2px -2px 5px rgb(198, 198, 198);
}

.side-menu{
  top: 30%;
  right: 1%;
  position: fixed;
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border-radius: 20px;
  box-shadow: 5px 5px 10px khaki, -5px -5px 10px khaki;
  z-index: 50;
}
.side-menu--item{
  width: 50px;
  height: 50px;
  margin: 1rem;
  object-fit: cover;
  border-radius: 50%;
}


.affiliates{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.affiliates h3{
  font-size: .8rem;
  color: darkslategray;
  text-align: center;
}
.partners{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hostinger, .hostgator{
  position: relative;
  max-width: 225px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero{
    height: auto;
    margin-bottom: 10%;
    flex-direction: column;
  }

  .banner-content h1{
    font-size: 1.25rem;
  }
  .banner-content h3{
    font-size: .8rem;
  }

  .content{
    width: 80%;
  }
  .content p{
    max-width: 100%;
  }

  #form-area{
    width: 75%;
  }

  .color-bar{
    width: 40%;
  }

  .services{
    flex-direction: column;
  }
  .web, .others{
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .others{
    margin: 5% 0;
    flex-direction: column-reverse !important;
  }
  .web-services-content{
    max-width: 95%;
  }
  .other-services-content{
    margin-top: 2%;
    max-width: 95%;
  }
  .wrapper-links{
    width: 100%;
  }

  .partners{
    flex-direction: column;
  }
  .partners img{
    margin: 1rem 0;
  }

  
  .pricing-nav{
    width: 100%;
  }


  .about--main-heading{
    font-size: 2rem;
  }
  #sangam, #dezynation{
    flex-direction: column;
  }
  .sangam-msg{
    max-width: 80%;
  }
}




.up-arrow{
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 5%;
  left: 2.5%;
  cursor: pointer;
  z-index: 50;
}
.arrow{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}


/* Footer styling starts here */
footer{
  margin-top: auto;
  width: 100%;
  height: auto;
  background: #111;
  color: #fff;
  padding: 1rem;
}
footer a{
  color: #fff;
}
footer .footercontainer{
  position: relative;
  width: 100%;
  height: 100%;
}
footer .footercontainer .row{
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
footer .footercontainer .row .col{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .footercontainer .row .col .brandlogo{
  width: 100%;
  height: 50%;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .footercontainer .row .col .brandlogo .footerlogo{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
footer .footercontainer .row .col .brandinfo{
  width: 80%;
  color: rgb(200, 200, 200);
}
footer .footercontainer .row .col .footerheading{
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  font-size: .7rem !important;
}
footer .footercontainer .row .col .footerheading h1{
  font-weight: 500;
}
footer .footercontainer .row .col ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
footer .footercontainer .row .col ul li{
  text-transform: capitalize;
  margin-bottom: 7.5px;
}
.separator{
  position: relative;
  margin: auto;
  height: 3.5px;
  width: 80%;
  background: skyblue;
  border-radius: 5px;
}
.social{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footercontainer .social .socialicon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  place-content: center;
}
footer .footercontainer .social .socialicon img{
  width: 30px;
  height: 30px;
}


@media (max-width: 768px) {
  footer .footercontainer .row{
      flex-direction: column;
  }
  footer .footercontainer .row .col .footerheading{
      margin-top: 2rem;
      margin-bottom: .5rem;
  }
}

/* Footer styling ends here */