*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: aliceblue;
}

section{
    width: 100vw;
    min-height: 100vh;
    max-height: inherit;
}

.main{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    max-height: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: -2rem auto 2rem;
    
}

.heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: darkslategray;
}

.sangam-section{
    height: auto;
}

.dezyner{
    margin-bottom: 4rem;
}

.mybox{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    padding: 0 2rem;
}

@media (max-width: 768px) {

    .main{
        margin-top: 1rem;
        margin-bottom: 6rem;
    }

    .mybox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 0 2rem;
    }

    .mybox p{
        text-align: center;
        margin-top: 0;
    }

    #mymsg{
        margin-top: 4rem;
    }

    section{
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    .dezyner{
        margin-bottom: 2rem;
    }
}   

.msg{
    max-width: 500px;
    text-align: right;
    display: flex;
    align-content: center;
    font-size: 20px;
    color: dimgray;
}



#path3708{
    max-width: 500px;
    height: 500px;
    transform-origin: center;
    transform: rotateZ(30deg);
}

.dezynation-section{
    margin-top: 10rem;
}