*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.home{
    position: sticky;
    top: 1rem;
    right: 1rem;
    padding: 5px;
    float: left;
    z-index: 3;
    transition: all 0.4s ease-in-out;
}

.hireme{
    position: sticky;
    top: 1rem;
    right: 1rem;
    padding: 5px;
    float: right;
    z-index: 3;
    transition: all 0.4s ease-in-out;
}

.hireme img, .home img{
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(0 3px 3px #070724c9);
}

.hireme:hover, .home:hover{
    transform: scale(1.1);
}

.portfolio-menu{
    right: 0;
    position: fixed;
    float: right;
    margin-top: 35vh;
    width: inherit;
    height: inherit;
    z-index: 3;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    background: linear-gradient(0deg, rgba(200, 0, 0, 0.527), rgba(0,0,200,1));
    border: 3px solid;
    border-color: white;
    border-radius: 50px;
}

.portfolio-section{
    width: 100%;
    height: inherit;
    padding: 2rem 10px 1rem;
}

#logo-portfolio{
    background: linear-gradient(150deg, rgb(92, 132, 241), rgb(15, 0, 150));
}

#web-portfolio{
    background: linear-gradient(150deg, rgb(124, 240, 47), rgb(175, 5, 5));

}

#graphics-portfolio{
    background: linear-gradient(150deg, #0000b5ff, #070315ff);
}

.portfolio-section h1{
    font-size: 5rem;
    text-align: center;
    color: white;
}

#menu-item{
    padding: 15px 10px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}


#menu-item:hover{
    background: linear-gradient(150deg, rgb(170, 255, 33), rgb(160,100,0));
    cursor: pointer;
}

.selected{
    background: rgba(180, 238, 19, 0.534);
}

.plogo, .pweb{
    max-width: 40px;
    max-height: 40px;
}

.pgraphics{
    max-height: 60px;
    max-width: 40px;
}

.logos-grid{
    margin: 4rem 1rem;
    padding: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 25rem;
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 1rem;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item5 item5 item6"
    "item7 item7 item8 item6";
}

.websites-grid{
    margin: 4rem auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 1rem;
    grid-template-areas:
    "item1 item2 item  item4 item5"
    "item1 item2 item8 item4 item5"
    "item1 item7 item8 item6 item5";
}

.graphics-grid{
    margin: 4rem 1rem;
    padding: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 1rem;
    grid-template-areas: 
    "item1 item2 item2 item3"
    "item1 item2 item2 item6"
    "item7 item7 item8 item6";
}

#grid-item{
    position: relative;
    background-color: white;
    color: rgb(114, 108, 108);
    border-radius: 15px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

#grid-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.7);
    border: 1px solid;
    border-color: rgb(51, 49, 49);
    z-index: 2;
}

.item-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {

    .logos-grid{
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 20rem) 30rem 20rem 25rem 15rem 30rem;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8";
    }

    .websites-grid{
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 20rem) 30rem 20rem 25rem 15rem 30rem;
        grid-template-areas: 
        "item1"
        "item2"
        "item2"
        "item4"
        "item5"
        "item5"
        "item5"
        "item8";
    }

    .graphics-grid{
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 20rem) 30rem 20rem 25rem;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item6"
        "item7"
        "item8";
    }
}






.item1{
    grid-area: item1;
}
.w-item1{
    background: url("../portfolioimgs/websites/index.jpg") center / cover no-repeat;
}
.g-item1{
    background: url("../portfolioimgs/graphics/landscape.jpg") center / cover no-repeat;
}


.item2{
    grid-area: item2;
}
.w-item2{
    background: url("../portfolioimgs/websites/marhaba.jpg") center / cover no-repeat;
}
.g-item2{
    background: url("../portfolioimgs/graphics/trees.jpg") center / cover no-repeat;
}


.item3{
    grid-area: item3;
}
..w-item3{
    background: url("") center / cover no-repeat;
}


.item4{
    grid-area: item4;
}
.w-item4{
    background: url("../portfolioimgs/websites/mkumar.jpg") center / cover no-repeat;
}


.item5{
    grid-area: item5;
}
.w-item5{
    background: url("../portfolioimgs/websites/servocliq.jpg") center / cover no-repeat;
}


.item6{
    grid-area: item6;
}


.item7{
    grid-area: item7;
}


.item8{
    grid-area: item8
}
.w-item8{
    background: url("../portfolioimgs/websites/surgeons.jpg") center / cover no-repeat;
}
.g-item8{
    background: url("") center / cover no-repeat;
}



